body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
    background-color: #2c2c2e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}


header h1 {
    padding: 32px 0 24px 0;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}

.liste-exercices {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.carte-exercice {
    background-color: #1c1c1e;
    border: 1px;
    border-radius: 15px;
    padding: 20px;
}


.carte-exercice {
    font-size: 1rem;
    margin-bottom: 12px;
    color: #ffffff;
}

.affichage-valeur {
    display: flex;
    align-items: center;
    gap: 8px;
}

.label {
    font-size:1rem;
    color: #ffffff;
}

.valeur {
    font-size: 1rem;
    color: #ffffff;
    margin-left: 2px;
}


.bouton-modif {
    margin-left: auto;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 14px;
    cursor: pointer;
    border: 50px;
    width: 32x;
    border-radius: 40px;
    background-color: #2c2c2e;
    color: #ffffff;
}




.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1e1e1e;
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  padding-bottom: env(safe-area-inset-bottom);
}

.nav-item {
  background: none;
  border: none;
  color: #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  cursor: pointer;
  flex: 1;
}

.nav-item .icon {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.nav-item.active {
  color: #007bff;
}

.swal2-popup {
  background-color: #212121 !important;
}